html
    head
      title Home Page
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
    nav.navbar.navbar-expand-sm.bg-dark
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='#') Contact
        li.nav-item
          a.nav-link(href='./api/movie?token='+token)(action= "/" method = "get") Movies
        li.nav-item
          a.nav-link(href='') Directors


         

        
